@import "../../scss/variables";

.DWWrapper {
    .DWCalendarComponent {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .calendarItem {
            padding-left: 11px;
            border-left: 1px solid;
            border-color: $themePrimary;
            width: 100%;
            text-decoration: none;
            margin-right: 10px;
            margin-bottom: 20px;
            position: relative;

            .thumbnails {
                margin-top: 10px;
                display: flex;
                align-items: center;

                .thumbnailImg {
                    margin-right: 5px;
                }

                .plusLabel {
                    height: 20px;
                    padding: 0px 3px 1px 3px;
                    border-radius: 50%;
                    background-color: grey;
                    color: white;
                }
            }

            .ring-container {
                position: absolute;
                bottom: 35px;
                right: 35px;

                .circle {
                    width: 11px;
                    height: 11px;
                    background-color: #62bd19;
                    border-radius: 50%;
                    position: absolute;
                    top: 19px;
                    left: 19px;
                }

                .ringring {
                    border: 3px solid #62bd19;
                    border-radius: 30px;
                    height: 17px;
                    width: 17px;
                    position: absolute;
                    left: 13px;
                    top: 13px;
                    animation: pulsate 1s ease-out;
                    animation-iteration-count: infinite;
                    opacity: 0;
                    box-sizing: content-box;
                }
            }

            @keyframes pulsate {
                0% {
                    transform: scale(0.1, 0.1);
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    transform: scale(1.2, 1.2);
                    opacity: 0;
                }
            }

            &:after {
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 3px;
                left: 0;
                transform: translate(-55%, 0);
                border: 1px solid;
                border-color: $themeSecondary;
                background-color: white;
                width: 7px;
                height: 7px;
                border-radius: 50%;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }

        .calendarItem.loading {
            padding-left: 0px;
            border-left: none;
            &:after {
                content: "";
                display: none;
                width: 0;
                height: 0;
            }
        }
    }
}
